body {
font-family: sans-serif;
background:#0f172a;
color:#fff;
direction: rtl;
text-align: right;
}

.container {
max-width:800px;
margin:auto;
padding:20px;
}

.navbar {
background:#020617;
padding:10px;
display:flex;
gap:15px;
}

.card {
background:#1e293b;
padding:15px;
margin-top:10px;
border-radius:10px;
}

.btn {
display:block;
background:#22c55e;
padding:10px;
margin-top:10px;
text-align:center;
text-decoration:none;
color:#000;
}

input {
width:100%;
margin-top:5px;
padding:8px;
}

.item {
background:#334155;
padding:10px;
margin-top:10px;
border-radius:6px;
}
